

<h3>Posts in category: <span class="category-title">{{ category.title }}</span></h3>

<!-- Display posts -->
<!-- This really should be written better, but will do for now -->
<div class="posts-in-categories" *ngFor="let post of availablePosts" (click)="onPostClick()">
    <div class="post-container">
      <h5><b>{{ post.title }}</b></h5>
      <p>{{ post.content | trancPostContent : 50 }}</p>
    </div>
</div>  

<div *ngIf="availablePosts.length == 0" class="alert alert-danger">
  Oops, seems like there are no posts in: {{ category.title }}
</div>

<button class="btn btn-primary" (click)="onHomeClick()">Home</button>
